In [10]:
import pandas as pd
import numpy as np
from pathlib import Path

# ROOT_FOLDER = "NYPL-menus"
ROOT_FOLDER = "NYPL-menus-cleaned"

MENU = 1
MENU_PAGE = 3
MENU_ITEM = 2
DISH = 0

# Data Profiling Workflow Instructions

## Accessing Datasets

Each dataset can be accessed from the dataset collection using the following keys:

```python
dataset["MENU"]          # Menu data
dataset["MENU_PAGE"]     # Menu page data
dataset["MENU_ITEM"]     # Menu item data 
dataset["DISH"]          # Dish data
```

## Profiling the Cleaned Dataset

Update the ROOT_FOLDER variable to point to your cleaned data directory:

```python
ROOT_FOLDER = "NYPL-menus-cleaned"  # Path to cleaned data
```

In [11]:
dataset = []

for filename in sorted(Path(ROOT_FOLDER).iterdir()):
    print(filename)
    if filename.name.endswith(".csv"):
        dataset.append(pd.read_csv(filename, na_values=[""]))

NYPL-menus-cleaned\Dish_fixed.csv
NYPL-menus-cleaned\Menu_fixed.csv
NYPL-menus-cleaned\MenuItem_fixed.csv
NYPL-menus-cleaned\MenuPage_fixed.csv

In [12]:
# IC 1: Temporal consistency in Dish
ic1_violations = dataset[DISH][dataset[DISH]["first_appeared"] > dataset[DISH]["last_appeared"]]

print(f"Violations found: {len(ic1_violations)}")
ic1_violations.head(10)

Violations found: 6

,id,name,description,menus_appeared,times_appeared,first_appeared,last_appeared,lowest_price,highest_price
131193,164029,Clear beef broth,NaN,0,1,1900,0,0.25,0.25
163257,204888,Hot roast beef with gravy,NaN,0,1,1900,0,0.25,0.25
197050,250693,SURI LEBERLI - Shredded Calf's Liver Flambe in...,NaN,0,1,1945,0,NaN,NaN
197053,250699,"SWISS MINCED VEAL, ROESTI",NaN,0,1,1945,0,NaN,NaN
237740,301736,Cafe Glacee,NaN,0,2,1940,0,0.40,0.40
244534,309629,Garlic Butter,NaN,0,1,1947,0,0.40,0.40

In [18]:
dataset[MENU_ITEM][dataset[MENU_ITEM]["dish_id"].isin(dataset[DISH].loc[ic1_violations.index, "id"])]

,id,menu_page_id,price,high_price,dish_id,created_at,updated_at,xpos,ypos
567462,595830,29537,0.25,NaN,164029.0,2011-10-09 19:35:27 UTC,2011-10-09 19:35:27 UTC,0.181429,0.286683
567923,596331,29538,0.25,NaN,204888.0,2011-10-10 00:28:58 UTC,2011-10-10 00:28:58 UTC,0.412857,0.645373
731557,769591,57538,NaN,NaN,250693.0,2012-02-01 07:07:00 UTC,2012-02-01 07:07:00 UTC,0.075714,0.617632
731560,769594,57538,NaN,NaN,250699.0,2012-02-01 07:07:27 UTC,2012-02-01 07:07:27 UTC,0.080000,0.657833
746034,784298,58037,0.40,NaN,309629.0,2012-02-06 23:57:54 UTC,2012-02-06 23:57:54 UTC,0.295714,0.888670
797877,838191,60252,0.40,NaN,301736.0,2012-03-09 18:14:00 UTC,2012-03-09 18:14:00 UTC,0.554286,0.957065
803940,844311,60248,0.40,NaN,301736.0,2012-03-12 17:41:51 UTC,2012-03-12 17:41:51 UTC,0.545714,0.968808

In [13]:
# IC 2: Date Outliner in Menu

# Extract first 4 digits of call_number (if not null)
dataset[MENU]["call_prefix"] = dataset[MENU]["call_number"].str[:4]

# Extract first 4 digits of date (if not null)
dataset[MENU]["date_prefix"] = dataset[MENU]["date"].str[:4]

# Check constraint: call_prefix == date_prefix when both exist
ic2_violations = dataset[MENU][
    dataset[MENU]["call_number"].notna() & 
    dataset[MENU]["date"].notna() & 
    dataset[MENU]["call_prefix"].str.isnumeric() &
    dataset[MENU]["date"].str.match(r"[^1]+") & 
    (dataset[MENU]["call_prefix"] != dataset[MENU]["date_prefix"])
]

print(f"Violations found: {len(ic2_violations)}")
ic2_violations[["id", "call_number", "date", "call_prefix", "date_prefix"]].head()

Violations found: 0

Empty DataFrame
Columns: [id, call_number, date, call_prefix, date_prefix]
Index: []

In [14]:
# IC 3: Date Blank in Menu

# Extract first 4 digits of call_number (if not null)
dataset[MENU]["call_prefix"] = dataset[MENU]["call_number"].str[:4]

# Extract first 4 digits of date (if not null)
dataset[MENU]["date_prefix"] = dataset[MENU]["date"].str[:4]

# Check constraint: date should not be blank when call_prefix is numeric
ic2_violations = dataset[MENU][
    dataset[MENU]["call_number"].notna() & 
    dataset[MENU]["date"].isna() &
    (dataset[MENU]["call_prefix"] != 'Zand') &
    (dataset[MENU]["call_prefix"] != 'Soet') &
    (dataset[MENU]["call_prefix"] != 'soet') &
    (dataset[MENU]["call_prefix"] != 'Bara') &
    (dataset[MENU]["call_prefix"] != '_wot') 
    # dataset[MENU]["call_prefix"].str.isnumeric()
    # dataset[MENU]["date"].str.match(r"[^1]+") & 
    # (dataset[MENU]["call_prefix"] != dataset[MENU]["date_prefix"])
]

print(f"Violations found: {len(ic2_violations)}")
ic2_violations[["id", "call_number", "date", "call_prefix", "date_prefix"]].head(20)

Violations found: 0

Empty DataFrame
Columns: [id, call_number, date, call_prefix, date_prefix]
Index: []

In [15]:
# IC 3: Date Blank in Menu

# Extract first 4 digits of call_number (if not null)
dataset[MENU]["call_prefix"] = dataset[MENU]["call_number"].str[:4]

# Extract first 4 digits of date (if not null)
dataset[MENU]["date_prefix"] = dataset[MENU]["date"].str[:4]

# Check constraint: date should not be blank when call_prefix is numeric
ic2_violations = dataset[MENU][
    dataset[MENU]["call_number"].notna() & 
    dataset[MENU]["date"].isna() &
    # (dataset[MENU]["call_prefix"] == 'Zand') &
    # (dataset[MENU]["call_prefix"] == 'Soet') &
    # (dataset[MENU]["call_prefix"] == 'soet') &
    (dataset[MENU]["call_prefix"] == 'Bara') &
    # (dataset[MENU]["call_prefix"] == '_wot') 
    # dataset[MENU]["call_prefix"].str.isnumeric()
    # dataset[MENU]["date"].str.match(r"[^1]+") & 
    (dataset[MENU]["call_prefix"] != dataset[MENU]["date_prefix"])
]

print(f"Violations found: {len(ic2_violations)}")
dataset[MENU].loc[ic2_violations.index]

Violations found: 42

,id,name,sponsor,event,venue,place,physical_description,occasion,notes,call_number,...,date,location,location_type,currency,currency_symbol,status,page_count,dish_count,call_prefix,date_prefix
9768,27240,NaN,Library,lunch,RESTAURANT,Library,photocopy (5 pages); 8.5 x 14 inches,NaN,Baratta collection; annotated; appetizers and ...,Baratta 113,...,NaN,Library,NaN,Dollars,$,complete,5,78,Bara,NaN
9769,27241,NaN,Alfredo,dinner,RESTAURANT,Alfredo,folder and photocopy; 8.5 x 14 inches; ink mar...,NaN,"Baratta collection; annotated; ""The Original o...",Baratta 129 (2 copies),...,NaN,Alfredo,NaN,Dollars,$,complete,4,74,Bara,NaN
9771,27243,NaN,J.C's,lunch; dinner,RESTAURANT,J.C's,folder; 9 x 12 inches; crease (length-wise),NaN,Baratta collection; extensive wine list by bot...,Baratta 138,...,NaN,J.C's,NaN,Dollars,$,complete,4,110,Bara,NaN
9774,27246,NaN,The New York Plaza,wine list,HOTEL,The Plaza Hotel,booklet; 8.75 x 12 inches; binding missing two...,NaN,Baratta collection; illustrations (cover); col...,Baratta 39,...,NaN,The New York Plaza,NaN,Dollars,$,complete,21,188,Bara,NaN
9775,27247,NaN,Alfredo,dinner,RESTAURANT,"Alfredo; Citicorp Center, 53rd Street and Lexi...",folders (2); 8 x 14 inches; ink markings (cover),NaN,"Baratta collection; annotated; ""The Original o...",Baratta 46,...,NaN,Alfredo,NaN,Dollars,$,complete,8,53,Bara,NaN
9779,27251,NaN,Gramercy Park Hotel,dinner,"HOTEL,RESTAURANT",Gramercy Park Hotel,folder; 8.25 x 11.75 inches; water stain (bott...,RELIGIOUS HOLIDAY,Baratta collection; extensive wine suggestions...,Baratta 82,...,NaN,Gramercy Park Hotel,NaN,Dollars,$,complete,3,84,Bara,NaN
9789,27261,NaN,Ports O' Call,dinner,RESTAURANT,Ports O' Call; Sheraton-Dallas Hotel by Stephe...,"folder with insert (fuzzy, velvet-like cover);...",NaN,Baratta collection; playful section headings; ...,Baratta 56,...,NaN,Ports O' Call,NaN,Dollars,$,complete,12,196,Bara,NaN
9791,27263,NaN,Gramercy Park Hotel,lunch; dinner,"HOTEL,RESTAURANT",Gramercy Park Hotel; 2 Lexington Avenue at 21s...,letterhead (2 pages); 8.5 x 11 inches; metal f...,NaN,Baratta collection; type written menu on hotel...,Baratta 170,...,NaN,Gramercy Park Hotel,NaN,Dollars,$,complete,2,22,Bara,NaN
9795,27267,NaN,Gramercy Park Hotel,buffet,"HOTEL,RESTAURANT",Gramercy Park Hotel; 2 Lexington Avenue at 21s...,letterhead; 8.5 x 11 inches; bent corner (uppe...,NaN,Baratta collection; type written menu on the b...,Baratta 112,...,NaN,Gramercy Park Hotel,NaN,Dollars,$,complete,2,35,Bara,NaN
9796,27268,NaN,Library Room,lunch,RESTAURANT,Library Room,photocopy (2 pages); 8.5 x 14 inches,NaN,Baratta collection; annotated; salads and cold...,Baratta 114,...,NaN,Library Room,NaN,Dollars,$,complete,2,30,Bara,NaN
9797,27269,NaN,Library Room,dinner,RESTAURANT,Library Room,photocopy (2 pages); 8.5 x 14 inches,NaN,Baratta collection; Table d' Hote; appetizers ...,Baratta 116,...,NaN,Library Room,NaN,Dollars,$,complete,2,28,Bara,NaN
9804,27280,NaN,Quo Vadis Restaurant,lunch,RESTAURANT,Quo Vadis Restaurant; 26 East 63rd Street,folder; 11 x 14 inches; crease (center); ink t...,NaN,Baratta collection; mimeograph; color illustra...,Baratta 3,...,NaN,Quo Vadis Restaurant,NaN,Dollars,$,complete,3,73,Bara,NaN
9805,27281,NaN,Quo Vadis Restaurant,lunch,RESTAURANT,Quo Vadis Restaurant; 26 East 63rd Street,folder; 11 x 14 inches; crease (botton right c...,NaN,Baratta collection; mimeograph; color illustra...,Baratta 4,...,NaN,Quo Vadis Restaurant,NaN,Dollars,$,complete,3,66,Bara,NaN
9808,27284,NaN,Carl Hoppl's Valley Stream Park Inn,wine list,HOTEL,NaN,folder; 6.37 x 9.5 inches; bound with elastic ...,NaN,Baratta collection; suggestions to help make a...,Baratta 11,...,NaN,Carl Hoppl's Valley Stream Park Inn,NaN,Dollars,$,complete,5,47,Bara,NaN
9811,27288,NaN,The Plaza,champagnes list,HOTEL,The Plaza,one page; 8.5 x 12 inches,NaN,Baratta collection; incomplete; one page from ...,Baratta 128,...,NaN,The Plaza,NaN,Dollars,$,complete,1,17,Bara,NaN
9820,27297,NaN,CP,a la carte,NaN,CP,folder; 9.75 x 13 inches; uneven edge to paper...,NaN,Baratta collection; name of restuarant may be ...,Baratta 17,...,NaN,Cp,NaN,Dollars,$,complete,4,153,Bara,NaN
9823,27301,NaN,Cunard,NaN,NaN,Cunard,"folder; 8 x 10.5 inches; water stain (center, ...",NaN,"Baratta collection; RMS ""Caronia""; cruise ship...",Baratta 22,...,NaN,Cunard,NaN,NaN,NaN,complete,1,0,Bara,NaN
9830,27308,NaN,Hotel Gramercy Park,breakfast,"HOTEL,RESTAURANT",Hotel Gramercy Park; 52 Gamercy Park North,broadside,NaN,Baratta collection; Club Breakfasts served 7:3...,Baratta 149,...,NaN,Hotel Gramercy Park,NaN,Dollars,$,complete,1,96,Bara,NaN
9832,27310,NaN,The Plaza; Hilton Hotels,a la Carte,"HOTEL,RESTAURANT",The Plaza; Hilton Hotels,folder; 8.75 x 11.5 inches; metal fastners alo...,NaN,Baratta collection; Sea Food; Relishes; Soups;...,Baratta 152,...,NaN,The Plaza,NaN,Dollars,$,complete,4,154,Bara,NaN
9837,27315,NaN,King's Inn,breakfast,"HOTEL,RESTAURANT",King's Inn,broadside; 10.375 x 15.375 inches; creased (ac...,NaN,Baratta collection; color (red); illustrations...,Baratta 28,...,NaN,King's Inn,NaN,Dollars,$,complete,1,78,Bara,NaN
9841,27320,NaN,Gramercy Park Hotel,breakfast,HOTEL,Gramercy Park Hotel,door knob sign; 4.875 x 11.875 inches,NaN,"Baratta collection; room service; ""please hang...",Baratta 163,...,NaN,Gramercy Park Hotel,NaN,Dollars,$,complete,1,3,Bara,NaN
9842,27321,NaN,Gramercy Park Hotel Room Service,room service,"HOTEL,RESTAURANT",Gramercy Park Hotel Room Serive,folder; 9.25 x 12.625 inches,NaN,Baratta collection; Continetal Breakfast; Brea...,Baratta 164,...,NaN,Gramercy Park Hotel Room Service,NaN,Dollars,$,under review,4,195,Bara,NaN
9843,27322,NaN,Gramercy Park Hotel; Hotel Gramercy Park,dinner,"HOTEL,RESTAURANT",Gramercy Park Hotel; Hotel Gramercy Park; 52 G...,folder; 9.25 x 12.625 inches,NaN,Baratta collection; Appetizers; Appetizer Chau...,Baratta 165,...,NaN,Gramercy Park Hotel; Hotel Gramercy Park,NaN,Dollars,$,complete,3,107,Bara,NaN
9848,27327,NaN,The Sporting Club New york,bar menu,"RESTAURANT,OTHER,URANT,OTHER,bar",The Sporting Club New York,broadside; 5.5 x 6.25 inches,NaN,Baratta collection; bar menu; Fresh Oysters; F...,Baratta 160,...,NaN,The Sporting Club New York,NaN,Dollars,$,complete,1,12,Bara,NaN
9854,27333,NaN,Bull and Bear,dinner,RESTAURANT,Bull and Bear,folder; bound with elastic cord and metal fast...,NaN,Baratta collection; illustrations (acrylic cov...,Baratta 41,...,NaN,Bull And Bear,NaN,Dollars,$,complete,2,69,Bara,NaN
9856,27335,NaN,Gramercy Park Hotel,lunch,"HOTEL,RESTAURANT",Gramercy Park Hotel; 2 Lexington Avenue at 21s...,letterhead photocopy (5 pages; 1-25 dishes); ...,NaN,Baratta collection; photocopy of type written ...,Baratta 166,...,NaN,Gramercy Park Hotel,NaN,Dollars,$,complete,5,50,Bara,NaN
9857,27337,NaN,Gramercy Park Hotel,lunch; dinner,"HOTEL,RESTAURANT",Gramercy Park Hotel; 2 Lexington Avenue at 21s...,letterhead (2 pages); 8.5 x 11 inches; metal f...,NaN,Baratta collection; type written menu on hotel...,Baratta 168 (2 copies),...,NaN,Gramercy Park Hotel,NaN,Dollars,$,complete,2,21,Bara,NaN
9858,27338,NaN,Gramercy Park Hotel,lunch; dinner,"HOTEL,RESTAURANT",Gramercy Park Hotel; 2 Lexington Avenue at 21s...,letterhead (2 pages); 8.5 x 11 inches; metal f...,NaN,Baratta collection; type written menu on hotel...,Baratta 169,...,NaN,Gramercy Park Hotel,NaN,Dollars,$,complete,2,20,Bara,NaN
9859,27339,NaN,Gramercy Park Hotel,lunch; dinner,"HOTEL,RESTAURANT",Gramercy Park Hotel; 2 Lexington Avenue at 21s...,letterhead (2 pages); 8.5 x 11 inches; metal f...,NaN,Baratta collection; type written menu on hotel...,Baratta 171 (2 copies),...,NaN,Gramercy Park Hotel,NaN,Dollars,$,complete,2,20,Bara,NaN
9863,27344,NaN,Savoy Plaza,dinner,"HOTEL,RESTAURANT",Savoy Plaza,broadside; 5 x 7.5 inches,SECULAR HOLIDAY,Baratta collection; $3.50 per person; illustra...,Baratta 45,...,NaN,Savoy Plaza,NaN,NaN,NaN,complete,1,29,Bara,NaN
9864,27345,NaN,Hotel Gramercy Park,a la carte,"HOTEL,RESTAURANT","Hotel Gramercy Park; 52 Gramercy Park North, L...",broadside; 10.5 x 14.875 inches; crease (cente...,NaN,Baratta collection; annotated; illustrations (...,Baratta 47,...,NaN,Hotel Gramercy Park,NaN,Dollars,$,complete,2,218,Bara,NaN
9868,27349,NaN,The Mayfair Room,dinner,RESTAURANT,The Mayfair Room,broadside; 9.5 x 13.75 inches; crease (length-...,NaN,"Baratta collection; ""Entrees and Roasts""; Fres...",Baratta 52,...,NaN,The Mayfair Room,NaN,Dollars,$,complete,1,32,Bara,NaN
9869,27350,NaN,The Pen and Sword,dinner,RESTAURANT,The Pen and Sword,broadside; 6 x 9 inches; creased lenght-wise,NaN,Baratta collection; cocktails; special; Sanka;...,Baratta 53,...,NaN,The Pen And Sword,NaN,Dollars,$,complete,1,24,Bara,NaN
9873,27354,NaN,The Plaza,supper,"HOTEL,RESTAURANT","The Plaza, Oak Room; Hilton Hotels",folder; 8.75 x 11.5 inches,NaN,Baratta collection; illustrations (cover); Oys...,Baratta 58,...,NaN,The Plaza,NaN,Dollars,$,complete,4,130,Bara,NaN
9876,27357,NaN,Persian Room,dinner,RESTAURANT,Persian Room,folder; 8.25 x 11.25 inches; metal fastners (b...,NaN,Baratta collection; interior spread similar to...,Baratta 61,...,NaN,Persian Room,NaN,Dollars,$,complete,4,127,Bara,NaN
9881,27362,NaN,The Plaza,A Selection of Table Wines,HOTEL,The Plaza,folder; 4.5 x 7 inches,NaN,Baratta collection; white wines; red wines; pr...,Baratta 68,...,NaN,The Plaza,NaN,Dollars,$,complete,4,9,Bara,NaN
9886,27367,NaN,Gramercy Park Hotel,dinner,"HOTEL,RESTAURANT",Gramercy Park Hotel,folder; 8.375 x 11.75 inches; water stains (ce...,SECULAR HOLIDAY,Baratta collection; annotated; illustrations (...,Baratta 75 (2 copies),...,NaN,Gramercy Park Hotel,NaN,Dollars,$,complete,3,72,Bara,NaN
9900,27383,NaN,Gramercy Park Hotel,breakfast,HOTEL,Gramercy Park Hotel,door knob sign; 4.875 x 11.875 inches,NaN,"Baratta collection; room service; ""please hang...",Baratta 100,...,NaN,Gramercy Park Hotel,NaN,Dollars,$,complete,1,26,Bara,NaN
9902,27385,NaN,Gramercy Park Hotel,brunch,"HOTEL,RESTAURANT",Gramercy Park Hotel,broadside; 7 x 10.625 inches; bent corner (upp...,NaN,Baratta collection; Saturday and Sunday Prix F...,Baratta 104,...,NaN,Gramercy Park Hotel,NaN,Dollars,$,complete,1,32,Bara,NaN
9903,27386,NaN,Gramercy Park Hotel,dinner,"HOTEL,RESTAURANT",Gramercy Park Hotel,folder; 7 x 10 inches,RELIGIOUS HOLIDAY,Baratta collection; wine suggestions by the bo...,Baratta 106,...,NaN,Gramercy Park Hotel,NaN,Dollars,$,complete,4,66,Bara,NaN
9904,27387,NaN,Gramercy Park Hotel,wedding,"HOTEL,RESTAURANT",Gramercy Park Hotel; 21st Street and Lexington,broadside; 7 x 10 inches,"OTHER,,wedding",Baratta collection; promotional piece; Deluxe ...,Baratta 107,...,NaN,Gramercy Park Hotel,NaN,NaN,NaN,complete,2,7,Bara,NaN
9905,27388,NaN,Gramercy Park Hotel,supper,"HOTEL,RESTAURANT",Gramercy Park Hotel,broadside; 9 x 11.5 inches; stain (front),NaN,"Baratta collection; ""served nitely from 9:00 p...",Baratta 109,...,NaN,Gramercy Park Hotel,NaN,Dollars,$,complete,1,22,Bara,NaN